@import './globals/colours';

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    outline: none !important;
}

body {
    background-color: $white;
}

.logo {
    margin: 2rem auto;
    padding: 0 0 2rem 0;
    text-align: center;
    p {
        margin: 3rem auto 0;
        width: 80%;
        border-top: 1px solid $brown;
        border-bottom: 1px solid $brown;
        padding: 2rem 0;
    }
    img {
        max-width: 60%;
    }
}

section.cards-container {
    .row {
        .card {
            margin-bottom: 2rem;
            background-color: transparent;
            border: none;
            img {
                margin-bottom: 1rem;
            }
            .card-body {
                padding: 0;
                text-align: center;
                .btn {
                    border: 1px solid rgba($gold, 0.5);
                    background-color: rgba($gold, 0.5);
                    transition: all 200ms linear;
                    &:hover, &:focus { 
                        background-color: rgba($gold, 0.2);
                    }
                }
            }
        }
    }
}