@import './globals/colours';
@import './globals/gridpoints';

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    outline: none !important;
}

body {
    background-color: $white;
    padding-bottom: 10rem;
    @include media-breakpoint-down(sm) {
        padding-bottom: 5rem;
        p {
            font-size: 0.8rem;
        }
    }
    &.modal-open {
        padding-right: 16px;
        @include media-breakpoint-down(xs) {
            padding-right: 0;
        }
    }
}

.btn-gold {
    background-color: rgba($gold, 0.5);
    border: 1px solid rgba($gold, 0.2);
    border-radius: 0.2rem;
    transition: all 200ms linear;
    color: black;
    &:hover, &:focus {
        box-shadow: none;
        background-color: rgba($gold, 0.2);
        border-color: rgba($gold, 0.2);
        color: black;
    }
}

.logo {
    margin: 2rem auto;
    padding: 0 0 2rem 0;
    text-align: center;
    img {
        max-width: 60%;
    }
    p {
        width: 80%;
        margin: 3rem auto 0;
        padding: 2rem 0;
        border-top: 1px solid $brown;
        border-bottom: 1px solid $brown;
    }
    @include media-breakpoint-down(sm) {
        margin: 2rem 0 0 0;
        img {
            max-width: 80%;
        }
        p {
            margin: 1.5rem auto 0;
            padding: 1rem 0;
        }
    }
}

section.cards-container {
    .row {
        .card {
            margin-bottom: 2rem;
            background-color: transparent;
            border: none;
            img {
                margin-bottom: 1rem;
            }
            .card-body {
                padding: 0;
                text-align: center;
                .from-price {
                    margin: 0 0 0.5rem 0;
                }
            }
        }
    }
}

.modal {
    .modal-dialog {
        max-width: 70%;
        .modal-content {
            .modal-body {
                background-color: $white;
                #close-btn {
                    position: absolute;
                    right: 1rem;
                    top: 0.5rem;
                    padding: 0;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    img {
                        width: 0.8rem;
                        height: 0.8rem;
                    }
                }
                .panel-wrapper {
                    display: flex;
                    margin-top: 1.5rem;
                    .left-panel, .right-panel {
                        flex: 1 1 50%;
                        padding: 0.5rem;
                    }
                    .left-panel {
                        align-items: center;
                    }
                    .right-panel {
                        padding-right: 2rem;
                        .product-name {
                            margin-bottom: 1rem;
                            padding-bottom: 0.5rem;
                            border-bottom: 1px solid $brown;
                        }
                        p:first-of-type {
                            margin-bottom: 2rem;
                        }
                        form.measurements {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 1rem;
                            .input-wrapper {
                                width: 46%;
                                input {
                                    width: 100%;
                                    padding: 0.2rem;
                                    box-shadow: none;
                                    border: 2px solid grey;
                                    &:first-of-type {
                                        margin-right: 1rem;
                                    }
                                }
                                .error {
                                    margin-top: 0.5rem;
                                    color: rgba(red, 0.8);
                                    font-size: 0.8rem;
                                }
                            }
                        }
                        .price {
                            margin-top: 1.5rem;
                            text-align: center;
                            p {
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        .modal-dialog {
            max-width: 90%;
            height: calc(100% - 3.5rem);
            .modal-content {
                height: 100%;
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .modal-dialog {
            .modal-content .modal-body .panel-wrapper {
                flex-direction: column;
                .left-panel {
                    margin-bottom: 1rem;
                    text-align: center;
                    img {
                        width: 50%;
                    }
                }
                .right-panel {
                    padding: 0 2rem;
                }
            }
        }
    }
    @include media-breakpoint-down(xs) {
        .modal-dialog {
            margin: 1rem auto;
            height: calc(100% - 2rem);
            .modal-content .modal-body .panel-wrapper {
                .left-panel {
                    img {
                        width: 70%;
                    }
                }
                .right-panel {
                    padding: 0 0.5rem;
                    .product-name {
                        font-size: 1.5rem;
                    }
                    form.measurements {
                        flex-direction: column;
                        .input-wrapper {
                            position: relative;
                            width: 100%;
                            margin-bottom: 2rem;
                            .error {
                                position: absolute;
                                top: 1.5rem;
                            }
                        }
                    }
                    .price {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}